body {
  color: #000000;
}

/** HEADER **/
#header-nav {
  background-color: #D3D3D3;
  border-radius: 0;
  border: 0;
  height: 80px;
}

.navbar-nav {
  margin-bottom: -7.5px;
}

.navbar-brand {
  padding-top: 15px;
}
.navbar-brand h1 { /* Restaurant name */
  
  margin-top: 0;
  margin-bottom: 10px;
  height: 80px;
  color: #000000;

}

#nav-list {
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: #000000 solid 1px;
}
#nav-list a {
  text-align: center;
  color: #000000 ;
}

#nav-list li.nth-child(1) {
  border-top: 1px solid;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000000;
}


/* END HEADER */




/* HOME PAGE */

div #main-content {
  margin-top: 50px ;
}

#main-content section  {
  height: 1000px;
  margin-top: 30px;
  background-color: #D3D3D3;

}
#information p  {
  margin-top: 20px;}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
#header-nav {
  background-color: #D3D3D3;
  border-radius: 0;
  border: 0;
  height: 100%;
}  

  .navbar-brand {
    padding-top: 10px;
    height: 60px;
  }
.navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;


 }


nav .navbar-brand h1 {
  color: #000000;
  margin-top: -5px;
}

#nav-list li {
  border-bottom: 1px solid;
}

#nav-list li.nth-child(1) {
  border-top: 1px solid;
}




#main-content {
    width: 90%;
  }
}

